@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  [root] {
    display: contents;
  }
}
